<div>
    <nav>
        <a href="/">Home</a>
        <a href="/beer">Beers</a>
        <a href="/random-beer">Random Beer</a>
    </nav>
    <div class="mainImage">
    <img class="image" src="images/beer.png"/>
    <div class="links">
    <a href="/beer">Check the Beers</a>
    <a href="/random-beer">Check a random beer</a>
    </div>
    </div>
</div>

<footer>Designed by Silvi and Julie</footer>